# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
#*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# IDE stuff
/bin/

/out/
/.idea/

.project
.classpath
.idea/checkstyle-idea.xml
.idea/libraries/com_fasterxml_jackson_core_jackson_core_2_7_0.xml
.idea/libraries/com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_5_0.xml
.idea/libraries/org_mockito_junit_jupiter_2_20_0.xml
.idea/libraries/org_mockito_mockito_core_2_2_2.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
chap_challenge.iml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
chap_challenge.iml
chap_challenge.iml
.idea/vcs.xml
.idea/modules.xml
.idea/libraries/com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_7_0.xml
.idea/libraries/com_fasterxml_jackson_core_jackson_core_2_6_6.xml
.idea/libraries/org_mockito_mockito_core_2_1_0.xml
.idea/libraries/com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_7_0.xml
.idea/misc.xml
.idea/modules.xml
chap_challenge.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/org_mockito_mockito_core_2_1_0.xml
.idea/libraries/com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_7_0.xml
*.iml
.idea/uiDesigner.xml
out/production/chap_challenge/nz/ac/vuw/ecs/swen225/gp21/persistency/imports.png
src/nz/ac/vuw/ecs/swen225/gp21/persistency/imports.png
test_testobject_save.xml
test_testworld_save.xml
test_object_save.xml
test_domain_save.xml
.checkstyle
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
chap_challenge-cs-cleanup.xml
chap_challenge-cs-formatter.xml
src/nz/ac/vuw/ecs/swen225/gp21/persistency/levels/level100.xml
src/nz/ac/vuw/ecs/swen225/gp21/persistency/levels/level100.xml
